
@media  only screen and (max-width: 600px) {  
    .banner {
    height: 349px;
    width: 99%;
    background-image: url(todo.png);
    background-repeat: no-repeat;
    margin-left: -3%;
}
    #Border {
        min-height: 30px;
        width: 88%;
        border: 1px solid #0000001f;
        margin: 0px auto;
        background-image: linear-gradient(to left bottom, #f9f9f9, #f7f7f7, #f5f5f5, #f3f3f3, #f1f1f1, #f1f1f1, #f2f1f2, #f2f1f2, #f5f3f4, #f8f6f7, #faf8f9, #fdfbfb);
        margin-bottom: 78px;
        padding: 17px;
        box-shadow: 1px 2px 49px -8px rgb(23 21 21 / 78%) inset;
        -webkit-box-shadow: 1px 2px 49px -8px rgb(23 21 21 / 78%) inset;
        -moz-box-shadow: 1px 2px 49px -8px rgba(23,21,21,0.78) inset;
    }


}

@media  only screen and (max-width: 1200px) and (min-width:1080px){

.banner {
    height: 353px;
    width: 56%;
    background-image: url(todo.png);
    background-repeat: no-repeat;
    margin-left: 20%;
}



}
 
 