.body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container h2 {
    font-family: 'Playfair Display', serif;
    color: #41799bc7;
}
.banner {
    height: 353px;
    width: 50%;
    background-image: url(todo.png);
    background-repeat: no-repeat;
    margin-left: 31%;
   
}
#Border {
    min-height: 30px;
    width: 71%;
    border: 1px solid #0000001f;
    margin: 0px auto;
    background-image: linear-gradient(to left bottom, #f9f9f9, #f7f7f7, #f5f5f5, #f3f3f3, #f1f1f1, #f1f1f1, #f2f1f2, #f2f1f2, #f5f3f4, #f8f6f7, #faf8f9, #fdfbfb);
    margin-bottom: 78px;
    padding: 17px;
    box-shadow: 1px 2px 49px -8px rgb(23 21 21 / 78%) inset;
    -webkit-box-shadow: 1px 2px 49px -8px rgb(23 21 21 / 78%) inset;
    -moz-box-shadow: 1px 2px 49px -8px rgba(23,21,21,0.78) inset;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: cursive;
    font-size: large;
}
.btn_1 {
    color: #fff;
    background-color: #4e769d;
    border-color: #4e769d;
    padding: 4px 10px 3px 11px;
    border-radius: 9px;
}
.btn_2 {
    color: #fff;
    background-color: #4e769d;
    border-color: #4e769d;
    padding: 4px 10px 3px 11px;
    border-radius: 9px;
}
.delete {
    color: #fff;
    background-color: #4e769d;
    border-color: #4e769d;
    padding: 4px 10px 3px 11px;
    border-radius: 9px;
}













